{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2020
  },
  "extends": [],
  "plugins": [],
  // add your custom rules here
  "rules": {
    "indent": ["error", 2],
    "no-console": "off",
    "no-debugger": "off"
  }
}
