{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": [],
  "plugins": [],
  "rules": {
    "indent": ["error", 2],
    "no-console": "off",
    "no-debugger": "off"
  }
}
